.table
    width: 990px;
    margin: 50px auto;
    font-size: 10px;
    table-layout: fixed
    border-collapse: collapse
    
    &__cell,
    &__head-cell
        padding: 2px
        border: 1px solid #000

    &__head-cell
        text-align: left

    &__cell_sortable
        cursor: pointer

    &__cell
        color: blue

    &__cell-minus
        color: red

    &__cell_up
        color: green
        &:after
            content: '↑'

    &__cell_down
        color: red
        &:after
            content: '↓'